<div>
  <form action="/profile/:username" method="POST">
    <input type="text" name="name" placeholder="exercise">
    <input type="text" name="sets" placeholder="sets">
    <input type="text" name="reps" placeholder="reps">
    <input type="text" name="weight" placeholder="weight">
  </form type="submit" value="CREATE">
</div>


