<div class="submits">
  <form action="/create/workout" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="body" name="description" placeholder="description">
    <input type="submit" value="CREATE">
  </form>
</div>
