<p>Name: <%= @user.name %></p>
<p>UserName: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>: <%= @user.workouts %></p>


<p>Workouts</p>



<p>Recent Workout</p>

<div><a href="/create">Create New Workout</a></div>

