
<div>
  <form action="/main" method="POST">
    <input type="hidden" name="_method" value="put">
    <input type="text" name="name" placeholder="exercise">
    <input type="text" name="sets" placeholder="sets">
    <input type="text" name="reps" placeholder="reps">
    <input type="text" name="weight" placeholder="weight">
    <input type="submit" value="CREATE">
  </form>
</div>
